.container {
    width: 100%;
    height: 100vh;
}

.containerHeader {
    text-align: center;
    padding: 40px;
}

.containerHeader input {
    font-size: 28px;
    border-radius: 30px;
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.8);
}

.containerHeader input:focus {
    outline: none;
}

.containerHeader input::placeholder {
    color: rgba(0, 0, 0, 0.6);
    font-family: "Outfit", sans-serif;
}

.containerBody {
    height: 70vh;
    margin: 80px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.containerBody h1 {
    font-size: 80px;
    margin: 0;
}

.containerBody .temp {
    font-size: 80px;
    margin: 0;
}

.containerBody .description {
    font-size: 30px;
    position: absolute;
    top: 5%;
    right: 0;
    transform: rotate(270deg);
}

.details {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    font-size: 1.5rem;
    padding: 20px;
}

.details .bold {
    font-weight: bold;
}

.details p {
    padding: 0;
    margin: 0;
}

.info {
    text-align: center;
    font-size: 25px;
}
